* {
  margin: 0px;
  font-family: "Gill Sans";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  border-radius: 100px;
  /* background-color: red; */
}

.header {
  background-color: #343a40;
  height: 60px;
  display: flex;
  justify-content: center;
}

.heading {
  color: white;
  font-size: 20px;
  margin-top: 4px;
}

.MuiCardActions-root.footer {
  padding: 16px;
  flex-direction: column;
}

.forgotPassword {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo__container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  padding: 50px;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .card__container {
    flex: 1;
  }
  .header {
    font-size: 20px;
  }
  .card__container {
    border-radius: 0px;
    height: 100%;
  }
}
